# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.pipenv/

# Flask instance folder (if used)
instance/

# Flask cache and logs
*.pot
*.pyc

# SQLite database
*.sqlite3
*.db

# VSCode settings (opcional, si usas VSCode)
.vscode/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
coverage.xml

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

